<!DOCTYPE html>
<html lang="en">
<head>
<title>PwCalc Service</title>
<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
    <div class="header">
    <h3>Password Calculator</h3>
    <h5>Calculate your password using an alias and a secret.</h5>
    <p>Due to limitations of Javascript the resulting password will be displayed in plaintext.
    <br/>It will be cleared out when the "Send to clipboard" button is pressed.</p>
    <p>On <a href="/api">/api</a> you can generate a password by sending JSON data to the endpoint.</p>
    <button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" data-placement="right" data-content="curl -i -X POST https://pwcalc.0x01.host/api --data '{&quot;alias&quot;:&quot;test&quot;,&quot;secret&quot;:&quot;test&quot;}'" data-original-title="Example using CURL">Example</button>

    <p></p>
    <a href="https://gitlab.com/theneedyguy/pwcalc/"><h6><i class="fab fa-gitlab"></i> Source Code<h6></a>
    </div>
    <div class="jumbotron">
    <form action="." method="POST">
	<div class="form-group">
      		<label for="inputlg-alias">Alias</label>
      		<input class="form-control input-lg" id="inputlg-alias" type="password" name="alias">
    	</div>
        <div class="form-group">
                <label for="inputlg-secret">Secret</label>
                <input class="form-control input-lg" id="inputlg-secret" type="password" name="secret">
	</div>
        <input type="submit" class="btn btn-primary btn-lg copy-text"  name="calculate" value="Calculate">
    </form>
    <hr>
    <textarea class="js-copytextarea form-control" type="password" name="returnpw" readonly="true">{{password}}</textarea>
    <br/>
    <button class="btn btn-primary btn-lg js-textareacopybtn" style="vertical-align:top;">Send to clipboard</button>
    </form>
    </div>
    <span class="badge badge-pill badge-info">Pwcalc v3.2</span>
    </div>
</body>
<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>
<script>


var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

copyTextareaBtn.addEventListener('click', function(event) {
  var copyTextarea = document.querySelector('.js-copytextarea');
  copyTextarea.select();

  try {
    var successful = document.execCommand('copy');
    $( "textarea[name=returnpw]" ).val("");	  
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text command was ' + msg);
  } catch (err) {
    console.log('Oops, unable to copy');
  }
});

</script>
</html>

